<%= javascript_include_tag "jquery.ui.widget", "jquery.iframe-transport",
                           "jquery.fileupload", "jquery.cloudinary" %>
<%= javascript_include_tag "fanfics_new" %>
<h1 class="fanfic-header"><%= t('fanfics.new') %></h1>

<%= render partial: "fanfics/fanfic_new", locals: { fanfic: @fanfic } %>
