<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<%= javascript_include_tag "read_fanfics_index" %>
<% if flash[:error] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="tag-cloud">
  <%= render partial: 'read_fanfics/tags', locals: { tags: @tags, is_hidden: true } %>
</div>
<div id="fanfics">
  <%= render partial: 'read_fanfics/fanfics', locals: { fanfics: @fanfics } %>
</div>
