<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<%= javascript_include_tag "read_fanfics_index" %>
<% if flash[:error] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="tag-cloud">
  <% @tags.each do |tag| %>
    <span class="badge badge-secondary"><%= tag.tag %></span>
  <% end %>
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" id="tags-search-any">Include any tags</button>
    <button type="button" class="btn btn-secondary" id="tags-search-all">Include all tags</button>
  </div>
</div>
<div id="fanfics">
  <%= render partial: 'read_fanfics/fanfics', locals: { fanfics: @fanfics } %>
</div>
