<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<% if flash[:error] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="tag-cloud">
  <% @tags.each do |tag| %>
    <span class="badge badge-secondary"><%= tag.tag %></span>
  <% end %>
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" id="tags-search-any">Include any tags</button>
    <button type="button" class="btn btn-secondary" id="tags-search-all">Include all tags</button>
  </div>
</div>
<div id="fanfics">
  <%= render partial: 'read_fanfics/fanfics', locals: { fanfics: @fanfics } %>
</div>
<script>
    $(document).on("click", "tbody > tr", function() {
        window.location = "http://localhost:3000" + $(this).data("href");
    });
    $('.badge').click(function () {
        $(this).toggleClass('badge-secondary badge-primary');
    });
    $('#tags-search-all').click(function () {
        var tagsArray = [];
        $('.badge-primary').each(function (index, elem) {
            tagsArray.push(elem.textContent);
        });
        $.ajax({
            url: '/read_fanfics',
            method: 'get',
            data: {
                tags: tagsArray,
                search: 'search_all'
            },
            success: function (response) {
                $('#fanfics').html(response);
            }
        });
    });
    $('#tags-search-any').click(function () {
        var tagsArray = [];
        $('.badge-primary').each(function (index, elem) {
            tagsArray.push(elem.textContent);
        });
        $.ajax({
            url: '/read_fanfics',
            method: 'get',
            data: {
                tags: tagsArray,
                search: 'search_any'
            },
            success: function (response) {
                $('#fanfics').html(response);
            }
        });
    });
</script>