<%= link_to "Create new chapter", new_person_fanfic_chapter_path(current_user.id, params[:fanfic_id]) %>

<% @chapters.each do |chapter| %>
  <div class="chapters jumbotron row">
    <img class="col" src="<%= chapter.image %>" alt="">
    <div class="col">
      <h2><%= chapter.title %></h2>
      <hr>
      <div> <%= markdown(chapter.text) %></div>
    </div>
  </div>
<% end %>