@import "bootstrap";
@import "markitup/skins/markitup/style";
@import "markitup/sets/xbbcode/style";
@import "dropzone/dropzone";
@import "dataTables/jquery.dataTables";
@import "magicsuggest-min";

.new_fanfic {
  width: 40%;
  margin: auto;
}

.new_chapter {
  width: 40%;
  margin: auto;
}

.fanfic-header {
  text-align: center;
  margin-bottom: 2%;
}

.table-image {
  width: 20%;
}

.chapters {
  width: 80%;
  margin: 0 auto 2%;
  cursor: pointer;

  div {
    display: inline-block;

    div {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin-bottom: 0;
      }
    }
  }

  img {
    width: 50%;
    height: 100%;
  }
}

.read-chapter {
  width: 80%;
  margin: 2% auto;

  img {
    width: 50%;
    height: 100%;
    margin: auto;
  }

  div {
    display: block;
    width: 100%;
  }
}

.dropzone {
  margin-bottom: 2%;
}

.comment-field {
  width: 80%;
  margin: 2% auto;
}

.btn-info {
  margin: 1% 0;
  float: right;
}

.rating {
  width: 80%;
  margin: auto;
  text-align: right;
}

.fa-star {
  color: #b4b4b4;
}

.rate {
  display: inline;
}

.likes {
  margin-left: 95%;
}

.comments {
  width: 80%;
  margin: auto;
}

.counts {
  display: inline;
}

.edit-link {
  margin: 2% 0 0 9%;
}

.new-chapter {
  display: block;
}

.nav-link {
  padding: 0 !important;
}

.mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.chapter-navigation {
  margin-top: 2%;
  text-align: center;

  a {
    color: #333333;
    padding: 2px;
  }

  a:hover {
    color: #333333;
    text-decoration: none;
  }
}

.current-chapter {
  background-color: #333333;
  color: #fff !important;
}

.table-block {
  max-width: 95%;
  margin: auto;
}

.tag-cloud {
  width: 90%;
  margin: 2% auto;
}

.badge {
  cursor: pointer;
}

.search {
  padding: 5%;
}
