@import "bootstrap";
@import "font-awesome";
@import "markitup/skins/markitup/style";
@import "markitup/sets/xbbcode/style";
@import "dropzone/dropzone";

.new_fanfic {
  width: 40%;
  margin: auto;
}

.new_chapter {
  width: 40%;
  margin: auto;
}

.fanfic-header {
  text-align: center;
  margin-bottom: 2%;
}

.table-image {
  width: 20%;
}

.chapters {
  width: 80%;
  margin: 2% auto;
  cursor: pointer;

  div {
    display: inline-block;

    div {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin-bottom: 0;
      }
    }
  }

  img {
    width: 50%;
    height: 100%;
  }
}

.read-chapter {
  width: 80%;
  margin: 2% auto;

  img {
    width: 50%;
    height: 100%;
    margin: auto;
  }

  div {
    display: block;
    width: 100%;
  }
}

.dropzone {
  margin-bottom: 2%;
}

.comment-field {
  width: 80%;
  margin: 2% auto;
}

.btn-info {
  margin: 1% 0;
  float: right;
}