nav {
  background-color: #000000;

  .navbar-brand {
    color: #fff !important;
  }
}

body {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.7),
                  rgba(0, 0, 0, 0.7)),
              url("the-fantasy-art-of-li-joshua-1.jpg") fixed no-repeat;
  background-size: cover;
}

.new_fanfic {
  width: 40%;
  margin: auto;
}

.new_chapter {
  width: 40%;
  margin: 2% auto;
}

.fanfic-header {
  color: #ffffff;
  text-align: center;
  margin: 2% 0;
}

.table-image {
  width: 20%;
}

.chapters {
  width: 80%;
  margin: 0 auto 2%;
  cursor: pointer;

  div {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 300px;

    div {

      p {
        margin-bottom: 0;
      }
    }
  }

  img {
    height: 300px;
  }
}

.read-chapter {
  width: 80%;
  margin: 2% auto;

  img {
    width: 50%;
    height: 100%;
    margin: auto;
  }

  div {
    display: block;
    width: 100%;
  }
}

.dropzone {
  margin-bottom: 2%;
}

.comment-field {
  width: 80%;
  margin: 2% auto;
}

.btn-info {
  margin: 1% 0;
  float: right;
}

.rating {
  color: #FFF;
  width: 80%;
  margin: auto;
  text-align: right;
}

.fa-star {
  color: #b4b4b4;
}

.rate {
  display: inline;
  cursor: pointer;
}

.likes {
  margin-left: 95%;
}

.comments {
  color: #fff;
  width: 80%;
  margin: auto;
}

.counts {
  display: inline;
}

.edit-link {
  margin: 2% 0 0 9%;
  color: #ffffff;
  font-size: 14pt;
}

.edit-link:hover {
  color: #ffffff;
}

.new-chapter {
  display: block;
}

.nav-link {
  color: #b9b9b9 !important;
  padding: 0 !important;
}

.nav-link:hover {
  color: #fff !important;
}

.mr-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.chapter-navigation {
  margin-top: 2%;
  text-align: center;

  a {
    color: #ffffff;
    padding: 2px;
  }

  a:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.current-chapter {
  background-color: #ffffff;
  color: #000000 !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{
  color: #fff !important;
}

.table-block {
  color: #fff !important;
  max-width: 95%;
  margin: auto;
}

.table {
  background-color: #4b4b4b;
}

table.dataTable tbody tr {
  background-color: #4b4b4b;
}

.tag-cloud {
  width: 90%;
  margin: 2% auto;
}

.badge {
  cursor: pointer;
}

.search {
  padding: 5%;
}

.search-input {
  display: inline-block;
  width: 65%;
}

.search-button {
  //display: inline-block !important;
}

.fanfic-display {
  width: 80%;
  margin: 2% auto;
  padding: 3%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: #747576 solid 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f0f0f0;

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #0b2121;
  }

  hr {
    width: 100%;
  }
}

.fanfic-display:hover {
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background-color: #f4f5f6;

  a {

    div {

      h2 {
        text-decoration: underline #0c0c0c;
      }
    }
  }
}

.fanfic-comments {
  text-align: right;

  p {
    margin: 0;
  }
}

.btn {
  background: transparent;
  color: #e0e1e2
}

.current-user {
  border: none;
}

.create-fanfic-btn {
  margin: 5%;
}

.any-form {
  color: #fff;
  width: 80%;
  margin: 2% auto;
}

.login-form {
  width: 40%;
  margin: 2% auto;
}

tfoot {
  tr:hover {
    td {
      background-color: #e9ecef;
      color: #222324 !important;
      cursor: pointer;
    }
  }
}

.user-setting {
  text-align: right;
  margin: 1%;
}

.local-button {
  display: inline;
  text-align: right;
}

.panel-body {
  margin: 2% 0;

  div {
    //background-color: #fff;
  }
  hr {
    background-color: #c6c6c6;
  }
}

form {
  color: #fff;
}

.comment-send {
  margin: 1% 0;
}

.pagination {
  nav {
    background-color: transparent;
  }
}

.empty-fanfic {
  margin-top: 17%;
  text-align: center;
  font-size: 18pt;
  color: #ffffff;
}

.show-tags {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
  color: #ffffff;
}

.show-tags:hover {
  text-decoration-style: solid;
}